/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2022, 11:03:49 AM
    Author     : Rahal Abishek
*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1500px;
    padding: 0 80px;
    margin: auto;
}


/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #361500;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .max-width .logo a img{
    display: inline-block;
    width: 132.5499px;
    height: 49.9626 px;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #CC9544;
}
.navbar.sticky .menu li a:hover{
    color: #CC9544;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}



/* home section styling */
.home{
    display: flex;
    background: url(../images/plane5.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Raleway', sans-serif;
}
.home .max-width{
    margin: 215px 40px;
}
.home .home-content .text-1{
    font-size: 45px;
    /*margin-top: 100px;*/
    /*color : #ffffff;*/
}
.home .home-content .text-2{
    font-size: 100px;
    font-weight: 600;
    margin-left: -3px;
}








/* about section styling */

section{
    padding: 100px 0;
}
.about{
    font-family: 'Poppins',sans-serif;
/*    background-color: black;*/
    color: #ffffff;
}
.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 4px;
    background: white;
    transform: translateX(-50%);

}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 324px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right img{
    height: 500px;
    width: 424px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 40%;
}
