/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 2, 2022, 10:51:21 AM
    Author     : HP
*/

body {
    background-image: url(../StaffImg/Airline.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}


