/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2022, 4:26:13 PM
    Author     : User
*/

body {
    background-image: url(../StaffImg/early-morning-flights.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: montserrat;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.center {
    position: absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 12px;
}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
   
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
margin: 30px 0; 
margin-top: 30px;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
   
}

.txt_field label{
    position: absolute;
    top:50%;
    left:5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
    
}

.txt_field input:focus ~ label,.txt_field input:valid ~ label{
    top:-5px;
    color: #2691d9;
}

.txt_field input:focus ~ span,.txt_field input:valid ~ span{
    width: 100%;
    
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-top: 30px
}

input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}

.singn-up{
    margin: 30px 0;
    font-size: 16px;
    text-align: center;
    color: #666666;
}

.singn-up a{
    color: #2691d9;
    text-decoration: none;
}

.singn-up a:hover{
    text-decoration: underline;

}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    margin-bottom: 20px;
}


 .navbar{
    position: absolute;
    top: 0;
    left: 650px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    
}

nav a{
    color:whitesmoke;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding:4px 10px ;
    border-radius: 3px;
    letter-spacing: 2px;
    text-decoration: none;
}

a.active,a:hover{
    border: 1px solid rgb(34, 33, 33);
    border-radius: 12px;
    transition: .20s; 
}

ul{
    list-style: none;
}

.links{
    display: flex;
    align-items: center; 

}

.links li{
    margin: 0 28px;
}


.logo{
    font-size: 35px;
    font-weight: bold;
    color: rgb(54, 53, 53);
}
#icon{
    display: none;
}


